.banner-home {
  padding-top: 200px;
  background-color: #0b6477;
  color: #ffffff;
  height: 73vh;
  position: relative; /* Ensure the container is positioned correctly */
  overflow: hidden; /* Hide any overflowing parts of the image */
}

.banner-home-image {
  width: 750px; /* Keep your specified width */
  object-fit: cover; /* Crop the image to fit the container */
  object-position: center; /* Center the image within the container */
  margin-top: -60px; /* Keep your existing margin */
}

@media (max-width: 768px) {
  .banner-home-image {
    width: 400px; 
  }
}

.banner-home .banner-home-title {
  font-size: 50px;
}

.banner-home .banner-home-content {
  font-size: 30px;
}

.supplier-home {
  background-color: #ebe9e9;
  color: #ffffff;
  height: 150px;
}

a.nav-link.btn.btn-outline-light.rounded-pill:hover {
  color: black !important;
}

.image-supplier-container {
  text-align: center;
}

.image-supplier-container img {
  margin: 0 auto;
}

.about-me {
  height: 500px;
}

.skills-experience {
  /* height: 500px; */
  padding-bottom: 50px;
  background-color: #ebe9e9;
}

.lets-build {
  background-color: #ebe9e9;
}

.info-card-home {
  height: 400px;
  padding-top: 50px;
}

.card-home:hover {
  margin-top: -10px;
  transition: margin-top 0.3s ease-in-out;
}

.container-xxl {
  max-width: 1440px !important;
}

.analytics-home {
  padding-top: 100px;
}container-xxl

.footer-home {
  background-color: #0b6477;
  color: #ffffff;
}

.grayscale-image {
  filter: grayscale(100%);
}

.card-header .nav-pills {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adds space between the tabs */
}